<% @movies.each do |movie| %>
  <div class="p-5 mb-4 bg-light rounded-3 border">
    <div class="container-fluid py-1">

      <div class="d-flex">
        <div class="me-auto">
          <h3 class="display-7"><%= link_to movie.title, movie, style: "text-decoration: none; color: black" %></h3>
        </div>
        <div class="ml-auto">
          <% if current_user %>
            <% if current_user.ratings.where(movie: movie).present? %>
              <% current_rating = movie.ratings.where(user: current_user).pluck(:rating)[0] %>
              
              <% (1..10).each do |n| %>
                <% if n == current_rating %>
                  <%= link_to n, rating_path(id: movie, rating: n, category: params[:category], page: params[:page]), method: :post, remote: true, class: "fw-bold" %>
                <% else %>
                  <%= link_to n, rating_path(id: movie, rating: n, category: params[:category], page: params[:page]), method: :post, remote: true %>
                <% end %>
              <% end %>

            <% else %>
              <% (1..10).each do |n| %>
                <%= link_to n, rating_path(id: movie, rating: n, category: params[:category], page: params[:page]), method: :post, remote: true %>
              <% end %>
            <% end %>
            
          <% end %>
        </div>
      </div>
      
      <p class="fs-5"><%= movie.description %></p>

      <% movie.category.each do |c| %>
        <%= link_to c.title, category_path(category: c.title.downcase) %>
      <% end %>
      
    </div>
  </div>
<% end %>