<div class="my-3">Genres: 
  <% if @category.present? %>
    <% @category.each do |cat| %>
      <%= link_to cat.title, category_path(category: cat.title.downcase) %>
    <% end %>
  <% end %>
</div>

<h1>Movies</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <% if current_user %>
        <th>Express Rate</th>
      <% end %>
      <th>Description</th>
      <th>Genres</th>
      <% if user_signed_in? && current_user.admin? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody id="expressrate">
    <%= render partial: "expressrate" %>
    
  </tbody>
</table>

<br>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Movie', new_movie_path %>
<% end %>

<div>
  <% if @cat.present? %>
    <%= link_to "First page", category_path if @page != 1 %>
    <%= link_to "Previous page", category_path(page: @page - 1) if @page > 1 %>
    <%= link_to "Next page", category_path(page: @page + 1) if @page < @number_of_pages %>
    <%= link_to "Last page", category_path(page: @number_of_pages) if @page != @number_of_pages %>

  <% else %>
    <%= link_to "First page", movies_path if @page != 1 %>
    <%= link_to "Previous page", movies_path(page: @page - 1) if @page > 1 %>
    <%= link_to "Next page", movies_path(page: @page + 1) if @page < @number_of_pages %>
    <%= link_to "Last page", movies_path(page: @number_of_pages) if @page != @number_of_pages %>
  <% end %>
</div>
