<% if params[:category] %>
  <div class="m-2">
    <h3><%= params[:category].capitalize %></h3>
  </div>
<% else %>
  <div class="m-2">
    <h3>Movies</h3>
  </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <% if current_user %>
        <th>Rate</th>
      <% end %>
      <th>Description</th>
      <th>Genres</th>
    </tr>
  </thead>

  <tbody id="rate">
    <%= render partial: "rate" %>
    
  </tbody>
</table>

<br>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <% if @cat.present? %>
      <li class="page-item"><%= link_to "First page", category_path, class: "page-link" if @page != 1 %></li>
      <li class="page-item"><%= link_to "Previous page", category_path(page: @page - 1), class: "page-link" if @page > 1 %></li>
      <li class="page-item"><%= link_to "Next page", category_path(page: @page + 1), class: "page-link" if @page < @number_of_pages %></li>
      <li class="page-item"><%= link_to "Last page", category_path(page: @number_of_pages), class: "page-link" if @page != @number_of_pages %></li>

    <% else %>
      <li class="page-item"><%= link_to "First page", movies_path, class: "page-link" if @page != 1 %></li>
      <li class="page-item"><%= link_to "Previous page", movies_path(page: @page - 1), class: "page-link" if @page > 1 %></li>
      <li class="page-item"><%= link_to "Next page", movies_path(page: @page + 1), class: "page-link" if @page < @number_of_pages %></li>
      <li class="page-item"><%= link_to "Last page", movies_path(page: @number_of_pages), class: "page-link" if @page != @number_of_pages %></li>
    <% end %>
  </ul>
</nav>
