<div class="m-3 px-2">
  <% if params[:category] %>
    <h2><%= params[:category].capitalize %></h2>
  <% else %>
    <h2>Movies</h2>
  <% end %>
</div>



<div id="rate">
  <%= render partial: "rate" %>
</div>

<br>

<nav aria-label="Page navigation example">
  <ul class="pagination">
  <% if @page %>
    <% if @cat %>
      <li class="page-item"><%= link_to "First page", category_path, class: "page-link" if @page != 1 %></li>
      <li class="page-item"><%= link_to "Previous page", category_path(page: @page - 1), class: "page-link" if @page > 1 %></li>
      <li class="page-item"><%= link_to "Next page", category_path(page: @page + 1), class: "page-link" if @page < @number_of_pages %></li>
      <li class="page-item"><%= link_to "Last page", category_path(page: @number_of_pages), class: "page-link" if @page != @number_of_pages %></li>

    <% else %>
      <li class="page-item"><%= link_to "First page", movies_path, class: "page-link" if @page != 1 %></li>
      <li class="page-item"><%= link_to "Previous page", movies_path(page: @page - 1), class: "page-link" if @page > 1 %></li>
      <li class="page-item"><%= link_to "Next page", movies_path(page: @page + 1), class: "page-link" if @page < @number_of_pages %></li>
      <li class="page-item"><%= link_to "Last page", movies_path(page: @number_of_pages), class: "page-link" if @page != @number_of_pages %></li>
    <% end %>
  <% end %>
  </ul>
</nav>
