<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Genres:</strong>
  <% @movie.category.each do |c| %>
    <%= c.title %>
  <% end %>
</p>

<% if @movie.ratings.any? %>
  <p>
    <strong>Average rating:</strong>
    <%= @movie.ratings.average(:rating).round(2) %> (number of ratings: <%= @movie.ratings.count(:rating) %>)
  </p>
<% end %>

<% if current_user %>
  <% if current_user.ratings.where(movie: @movie).present? %>
    <p>
      <strong>Your rating:</strong>
      <%= @movie.ratings.where(user: current_user).pluck(:rating)[0] %>
    </p>
  <% else %>
    <% (1..10).each do |n| %>
      <%= link_to n, "/movies/#{@movie.id}/rate/#{n}"%>
    <% end %>
  <% end %>
<% end %>


<br><br>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
