<div class="p-5 my-3 bg-light rounded-3 border">
  <div class="container-fluid py-1">

    <div class="d-flex">
      <div class="me-auto">
        <h3 class="display-7"><%= @movie.title %></h3>
      </div>
      <div class="ml-auto">
          <% if user_signed_in? %>
            <% if @current_users_rating %>
              
              <% (1..10).each do |n| %>
                <% if n <= @current_users_rating %>
                  <%= link_to(image_tag("/star-fill.svg", width: "20", class: "m-0"), rating_path(id: @movie, rating: n, category: params[:category], page: params[:page]), method: :post) %>
                <% else %>
                  <%= link_to(image_tag("/star.svg", width: "20", class: "m-0"), rating_path(id: @movie, rating: n, category: params[:category], page: params[:page]), method: :post) %>
                <% end %>
              <% end %>

            <% else %>
              <% (1..10).each do |n| %>
                <%= link_to(image_tag("/star.svg", width: "20", class: "m-0"), rating_path(id: @movie, rating: n, category: params[:category], page: params[:page]), method: :post) %>
              <% end %>
            <% end %>
            
          <% end %>
      </div>
    </div>
    
    <p class="fs-5">
      <%= @movie.description %>
    </p>
    <div class="my-3">
      <strong>Average rating:</strong>
      <%= @average_rating %> (number of ratings: <%= @ratings_count %>)
    </div>
    
    <% @movie.category.each do |c| %>
      <%= link_to c.title, category_path(category: c.title.downcase) %>
    <% end %>
    
  </div>
</div>

<%= link_to 'Back', movies_path, class: "btn btn-secondary" %>
