<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">IMDb clone</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Genres
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if @category %>
              <% @category.each do |cat| %>
                <%= 
                  link_to_if @cat && @cat == cat.title, cat.title, category_path(category: cat.title.downcase), class: "dropdown-item active" do
                    link_to cat.title, category_path(category: cat.title.downcase), class: "dropdown-item"
                  end
                %>
              <% end %>
            <% end %>
          </ul>
        </li>
      </ul>
      <hr>
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <%= link_to "Admin panel", :admin_root, class: "nav-link" %>
          <% end %>
          <li class="nav-item">
            <%= link_to current_user.username, :edit_user_registration, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "logout", :destroy_user_session, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", :new_user_session, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Register", :new_user_registration, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>