<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Genres</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie %></td>
        <td><%= movie.description %></td>
        <td>
          <% movie.category.each do |c| %>
            <%= link_to c.title, category_path(category: c.title.downcase) %>
          <% end %>
        </td>
          <td><%= link_to 'Edit', edit_admin_movie_path(movie) %></td>
          <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
