<div class="d-flex">
  <h3 class="me-auto">Categories</h3>
  <div class="ml-auto p-2"><%= link_to "New Category", :new_admin_category, class: "btn btn-success btn-sm" %></div>
</div>

<table class="table table-sm w-50">
  <thead>
    <th>Title</th>
    <th>Number of movies</th>
    <th colspan="2">Actions</th>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.movies.count if category.movies.any? %></td>
        <td><%= link_to(image_tag("/pencil.svg", width: "20", class: "m-0"), edit_admin_category_path(category)) %></td>
        <td><%= link_to(image_tag("/trash.svg", width: "20", class: "m-0"), admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: "link-danger") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
